<div class="NotifBar" [ngStyle]="{'width' : this.OpenNotifBar === true ? '200px': '0px'}">
  <div class="NotifContainer">
    <div fxLayout="row">
      <div fxFlex="60">
        Foulen Ben Foulen
      </div>
      <div fxFlex="40" fxLayout="end center">
        N°: <font style="color: #818181">785</font>
      </div>
    </div>
    <div fxLayout="row" style="margin-top: 10px">
        <font style="font-size: 9pt">Date: 10/05/2020  à 12:30</font>

    </div>
    <div fxLayout="row" style="margin-top: 5px">
      <font style="font-size: 9pt">Visite N°: 2</font>
    </div>
    <div fxLayout="row" style="margin-top: 0px">
      <mat-icon style="font-size: 10pt; padding-top: 5px; padding-right: -5px">phone</mat-icon><font style="font-size: 9pt;"> 98562874</font>    </div>
  </div>
</div>
