/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: TitilliumWeb-Regular, "Helvetica Neue", sans-serif; }
@font-face {
  font-family: TitilliumWeb-Regular;
  src: url(assets/Fonts/TitilliumWeb-Regular.ttf) format("opentype");
}
@font-face {
  font-family: TitilliumWeb-Light;
  src: url(assets/Fonts/TitilliumWeb-Light.ttf) format("opentype");
}
@font-face {
  font-family: TitilliumWeb-ExtraLight;
  src: url(assets/Fonts/TitilliumWeb-ExtraLight.ttf) format("opentype");
}
@font-face {
  font-family: TitilliumWeb-SemiBold;
  src: url(assets/Fonts/TitilliumWeb-SemiBold.ttf) format("opentype");
}
@font-face {
  font-family: TitilliumWeb-Bold;
  src: url(assets/Fonts/TitilliumWeb-Bold.ttf) format("opentype");
}
*{
  font-family: TitilliumWeb-Regular;
}
.CustomInput {
  padding: 5px;
  border: 1px solid ghostwhite;
}
p {
  color: #404040;
}
